@charset "utf-8";
/* CSS Document */@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Verdana, sans-serif;
}

/* Section */

section {
	width: 100%;
	max-width:1200px;
	min-height: 400px;
	height: inherit;
	margin: 50px auto;
}

section h1 {
	padding: 20px 30px 10px 30px;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Rokkitt', serif;
	color: #fff;
	background-color:#3A3A3A;
	text-shadow: 2px 2px #000;
}

section.biography {
	width: 750px;
	float: right;
	clear: none;
	margin: 10px;
	margin-right: 30px;
}

img.bobsolo {
	float: left;
	width: 210px;
	margin: 10px 30px 10px 30px;
}

.biography p {
	padding: 0px 20px 20px 20px;
	color: #ffffff;
	text-shadow: 1px 1px #000000;
}


@media screen and (max-width: 600px) {
	img.bobsolo {
		display: block;
		margin: 20px auto;
		float: none;
	}
}

@media screen and (max-width: 400px) {
	.biography p {
		padding-bottom: 20px;
	}	
}
	
