@charset "utf-8";
/* CSS Document */

/* Contact Page */

* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Arial, Verdana, sans-serif;
	background-color:#000000;
	width: 100%;
}

/* Section */

section {
	width: 100%;
	max-width: 1200px;
	min-height: 650px;
	margin: 50px auto;
}

div.contactpic > p {
	padding: 0px 30px 10px 30px;
	font-size: 20px;
	font-family: 'Rokkitt', serif;
	color: #fff;
}

.contactpic {
	float: left;
	width: 40%;
	margin-top: 20px;
	margin-left: 50px;
}

.contactpic img {
	width: 80%;
	padding-top: 30px;
	padding-left: 40px;
}

.contactpic img:hover {
	width: 80%;
}

.direct {
	clear: none;
	float left;
	padding-top: 40px;
	font-weight: bold;
}

/* Contact Form */

.dark-matter {
	margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
	width:40%;
    background: #555;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
	float: right;
}

.dark-matter h1 > span {
    display: block;
    font-size: 11px;
}

.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}

.dark-matter label > span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    background: #DFDFDF;
}

.dark-matter select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}

.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.dark-matter .button {
    background: #21221F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
}

.dark-matter .button:hover {
    color: #333;
    background-color: #EBEBEB;
}

@media screen and (max-width: 960px) {
.contactpic img {
	width: 90%;
	padding-top: 80px;
}

.contactpic img:hover {
	width: 90%;
	padding-top: 80px;
}

.contactpic {
	float: left;
	width: 40%;
	margin-top: 50px;
	margin-left: 30px;
	}
}

@media screen and (max-width: 768px) {
section {
	height: 950px;
}
	
.contactpic {
	float: none;
	width: 60%;
}

div.contactpic > p {
	width: 90%;
	text-align: center;
	margin-left: 25%;
}

.contactpic img {
	width: 90%;
	padding-top: 30px;
	margin-left: 100px;
}

.contactpic img:hover {
	width: 90%;
	padding-top: 20px;
}

.dark-matter {
	float: none;
	width: 60%;
	margin: 20px 0px 40px 120px;
	}
}
	
@media screen and (max-width: 650px) {
section {
	height: 950px;
	width: 98%
}
	
.contactpic {
	float: none;
	width: 80%;
	margin-top: 20px;
	margin-left: 30px;
}

.contactpic img {
	width: 90%;
	padding-top: 20px;
	margin-left: 1%;
}

div.contactpic > p {
	width: 90%;
	text-align: center;
	margin-left: 5%;
}

.contactpic img:hover {
	width: 90%;
	padding-top: 30px;
}

.dark-matter {
	float: none;
	margin-top: 30px;
	margin-left: 15%;
}

.dark-matter label > span {
    display: block;
    font-size: 10px;
	}
}
	