@charset "utf-8";
/* CSS Document */

/* Media - Audio */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:1.5em;
	color:#fff;
	background-color:#000000;
	width: 100%;
}

.clearfix{
	clear:both;
}

/* Section */

.col-12 {
	width: 100%;
	max-width: 1200px;
	min-height: 700px;
	height: auto;
	display: flex;
	margin: 0;
	justify-content: center;
}

section p:nth-child(2) {
	padding-top: 10px;
}

section .row {
	width: 15%;
	height: 150px;
	color: #ffffff;
	text-align: center;
	margin-top: 60px;
	padding: 10px 15px 20px;
	background-color: #000000;
	border-radius: 5px;
}

.wrapper {
	width: 30%;
}

#container {
	width:330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin: 60px auto;
	border-radius:10px;
}

#audio-image {
	position:relative;
	overflow:hidden;
	height:250px;
	margin-bottom:15px;
}

#audio-image2 {
	position:relative;
	overflow:hidden;
	height:250px;
	margin-bottom:15px;
}

#audio-info {
	text-align:center;
}

#audio-info .artist {
	font-weight:bold;
}

#audio-info .artist2 {
	font-weight:bold;
}

.cover {
	width:100%;
	z-index:1;
}

.cover2 {
	width:100%;
	z-index:1;
}

input#volume {
	width:95%;
	margin-left:2%;
    -webkit-appearance: none !important;
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}

input#volume2 {
	width:95%;
	margin-left:2%;
    -webkit-appearance: none !important;
    background:#ccc;
    height:1px;
	margin-bottom:20px;
}

input#volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/knob.png) no-repeat;
    height:12px;
    width:12px;
}

input#volume2::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:url(../images/knob.png) no-repeat;
    height:12px;
    width:12px;
}

#buttons{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}

#buttons2{
	width:90%;
	display: block;
    margin: 15px auto;
	margin-left:23px;
	overflow:auto;
}

button#play{
	width:70px;
	height:70px;
	background:url(../images/play.png) no-repeat;float:left;
}

button#play2{
	width:70px;
	height:70px;
	background:url(../images/play.png) no-repeat;float:left;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/pause.png) no-repeat;float:left;
}

button#pause2{
	width:70px;
	height:70px;
	background:url(../images/pause.png) no-repeat;float:left;
}

button#stop{
	width:70px;
	height:70px;
	background:url(../images/stop.png) no-repeat;float:left;
}

button#stop2{
	width:70px;
	height:70px;
	background:url(../images/stop.png) no-repeat;float:left;
}

button#prev{
	width:70px;
	height:70px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#prev2{
	width:70px;
	height:70px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	width:70px;
	height:70px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

button#next2{
	width:70px;
	height:70px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#playlist {
    list-style-type: none;
	padding:10px;
}

#playlist2 {
    list-style-type: none;
	padding:10px;
}

#playlist li {
    cursor: pointer;
    margin:5px;
}

#playlist2 li {
    cursor: pointer;
    margin:5px;
}

#tracker{
	position:relative;
	width:100%;
}

#tracker2{
	position:relative;
	width:100%;
}

#playlist li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#playlist2 li.active {
    font-weight: bold;
	padding:3px;
	background:#666;
}

#progressBar { 
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/progress_bg.png) no-repeat;
   float:left;
}

#progressBar2 { 
   width:80%;
   margin-left:2%;
   margin-bottom:20px;
   margin-top:9px;
   height:10px;
   background:url(../images/progress_bg.png) no-repeat;
   float:left;
}

#progress {
   background:url(../images/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#progress2 {
   background:url(../images/progress.png) no-repeat;
   height:10px;
   display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}

#duration2{
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	border-radius:5px;
}

@media screen and (max-width: 1024px) {
section .row {
	width: 25%;
	margin-right: 20px;
}

.wrapper {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
.col-12 {
	max-width: 800px;
	min-height: 900px;
	display: block;
	margin: 0 auto;
}

section .row {
	width: 40%;
	margin: 30px auto;
}

.wrapper {
	width: 45%;
	margin: 0 auto;
}
#container {
	margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
section .row {
	width: 60%;
}

.wrapper {
	width: 80%;
  }
}

@media screen and (max-width: 375px) {
.col-12 {
    min-height: 700px;
}

.wrapper {
	width: 90%;
  }
}

@media screen and (max-width: 325px) {
.wrapper {
	width: 100%;
}

#container {
	width: 315px;
}

button#prev {
	width: 65px;
}

button#prev2 {
	width: 65px;
  }
}